<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/wine-icon.png">
    <title><%- title %></title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>
    <main id="content" class="principal">
        <div class="container">
            <form class="form-group" action="/editar/<%= wine.id %>" method="post">
                <div class="form-group-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input class="form-control" value="<%= wine.nombre %>" type="text" name="nombre" id="nombre" required>
                </div>
                    <div class="form-group-6">    
                    <label for="tipo" class="form-label">Tipo de vino</label>
                    <input class="form-control" value="<%= wine.tipo %>" type="text" name="tipo" id="tipo" required>
                </div>
                <div class="form-group-6">
                    <label for="precio" class="form-label">Precio</label>
                    <input class="form-control" value="<%= wine.precio %>" type="text" name="precio" id="precio" required>
                </div>
                <div class="form-group-6">   
                    <label for="variedad" class="form-label">Variedad</label>
                    <input class="form-control" value="<%= wine.variedad %>" type="text" name="variedad" id="variedad" required>
                </div>
                <div class="form-group-12">
                <label for="url" class="form-label">Imagen</label>
                <input class="form-control" value="<%= wine.url %>" type="text" name="url" id="url" required>
                </div>
                <div class="form-group-6">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <textarea class="form-control" id="descripcion" rows="6" placeholder="Descripcion del producto" name="descripcion"><%= wine.descripcion %></textarea>
                </div>
                <div class="form-group-6">    
                    <label for="caracteristicas" class="form-label">Caracteristicas</label>
                    <textarea class="form-control" id="caracteristicas" rows="6" placeholder="Separar con coma las características"
                    name="caracteristicas"><%= wine.caracteristicas %></textarea>
                </div>
                <button type="submit" class="mt-1 btn btn-edit">Guardar cambios</button>
                <a class="mt-1 btn btn-delete" href="/products/list">Cancelar</a>
            </form>
        </div>


    </main>
    <%- include('../partials/footer') %>    
</body>
</html>