<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="shortcut icon" href="/images/wine-icon.png">
    <title>The wines club</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>
    <main class="principal" id="content">
        <div class="breadcrumbs">
            <ul class="list-bread">
                <li class="bread-item"><a href="../" class="bread-item-link space">Inicio</a></li>
                <li class="bread-item"><span class="bread-item-span">></span></li>
                <li class="bread-item"><a href="/products" class="bread-item-link active">Productos</a></li>
            </ul>
            <div class="search">
                <form class="" action="/buscar" method="GET">
                    <input class="form-news-input" type="search" name="q">
                    <input class="btn btn-products" type="submit" value="Buscar">
                </form>
            </div>
            <div class="order-by">
                <label for="order-by" class="by">Ordenar por: </label>
                <select class="select-order" id="order-by">
                    <option value="price-ascending">Precio: Menor a Mayor</option>
                    <option value="price-descending">Precio: Mayor a Menor</option>
                    <option value="created-ascending">Mas viejo a mas nuevo</option>
                    <option value="created-descending">Mas nuevo a mas viejo</option>
                    <option value="best-selling">Mas vendidos</option>
                </select>
            </div>
            <div class="filter-btn">
                <button class="btn-filter" type="submit" id="menuFilter">Filtrar</button>
            </div>
        </div>
        <div class="principal-products">
            <div class="category" id="filter">
                <h1 class="title-category">Categorias</h1>
                <ul class="list-category">
                    <li class="item-category"><a href="/products/categoriaUno" class="item-category-link">Tintos</a></li>
                    <li class="item-category"><a href="/products/categoriaDos" class="item-category-link">Blancos</a></li>
                    <li class="item-category"><a href="/products/categoriaTres" class="item-category-link">Espumantes</a></li>
                    <li class="item-category"><a href="/products/categoriaDestilados" class="item-category-link">Destilados</a></li>
                </ul>
                <h1 class="title-category">Filtros</h1>
                <% if (locals.filterVariety) { %>
                <h2 class="subtitle-filter">Filtrar por variedad</h2>
                <form action="/filtrar" method="get">
                    <ul class="list-filter">
                        <% filterVariety.forEach(variety => { %>
                        <li class="item-filter"><input class="item-filter-input" type="checkbox" value="<%= variety.DISTINCT %>" name="variedad"><label class="item-filter-label" for="filtro-1"><%= variety.DISTINCT %></label></li>
                        <% }) %>
                    </ul>                  
                    <input class="btn btn-products bg-white" type="submit" value="Filtrar">
                </form>
                <% } %>                
            </div>
            <div class="product">
                <% if (wines == 0) { %>
                    <div class="container-filter">
                        <p class="card-text">Lo siento, estamos renovando el stock!!</strong><a class="delete-filter" href="/products">&#10060;</a></p>  
                    </div>
                <% } %>
                <% if (locals.searchWine) { %>
                    <div class="container-filter">
                        <p class="card-text">Buscando por: <strong><%= searchWine %></strong><a class="delete-filter" href="/products">&#10060;</a></p>  
                    </div>
                <% } %>
                <% if (locals.wineFilters) { %>
                    <div class="container-filter">
                        <p class="card-text">Filtrando por: <strong><%= wineFilters %></strong><a class="delete-filter" href="/products">&#10060;</a></p>  
                    </div>
                      <% wines.forEach(wine => { %>
                        <% wineFilters.forEach(filter => { %>
                          <% if (filter == wine.variedad) { %>
                            <div class="card">
                                <img src="<%= wine.url %>" alt="" class="img-card">
                                <div class="card-body">                                    
                                    <% if (wine.tipo === "Destilado") { %>
                                        <h2 class="py-2"><strong>Sin stock</strong></h2>                                    
                                    <% } else {%>
                                        <h2 class="card-title">$ <%= wine.precio %></h2>                    
                                    <% } %>
                                    <p class="card-text-product" title="<%= wine.nombre %>"><%= wine.nombre %></p>
                                    <button class="btn btn-buy"><a href="/product/<%= wine.id %>" class="bread-item-link active card-text">Ver producto</a></button>
                                </div>
                            </div>
                          <% } %>
                        <% }) %>
                      <% }) %>
                  <% } else { %>
                      <% wines.forEach(wine => { %>
                        <div class="card">
                            <img src="<%= wine.url %>" alt="" class="img-card">
                            <div class="card-body">
                                <% if (wine.tipo === "Destilado") { %>
                                    <h2 class="py-2"><strong>Sin stock</strong></h2>                                    
                                <% } else {%>
                                    <h2 class="card-title">$ <%= wine.precio %></h2>                    
                                <% } %>
                                <p class="card-text-product" title="<%= wine.nombre %>"><%= wine.nombre %></p>
                                <button class="btn btn-buy"><a href="/product/<%= wine.id %>" class="bread-item-link active card-text">Ver producto</a></button>
                            </div>
                        </div>
                      <% }) %>
                  <% } %> 
            </div>
        </div> <!-- Cierra principal-productos -->
        <%- include('../partials/shop_info') %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/effects.js"></script>
</body>
</html>