<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="shortcut icon" href="/images/wine-icon.png">
    <title>The wines club</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>
    <main class="principal" id="content">
        <div class="container">
            <div class="header-subtitle">
                <ul class="subtitle-list">
                    <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Panel de administracion</h1></li>
                </ul>
            </div>
        </div><!-- Cierra el subtitle -->
        <% if(message) { %>
            <div class="form-group-6 m-auto alert alert-success" role="alert" id="messageAlert">
                <strong><%= message %></strong>
                <button aria-hidden="true" data-dismiss="alert" id="btnClose" class="close" type="button">&#10006;</button>
            </div>
        <% } %>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th class="hide-field">ID</th>
                        <th>Nombre</th>
                        <th class="hide-field">Tipo</th>
                        <th class="hide-field">Variedad</th>
                        <th class="hide-field">Precio</th>
                        <th class="hide-field">Link MP</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <% wines.forEach(wine => { %>
                <tbody>
                    <tr>
                        <td class="hide-field"><%= wine.id %></td>
                        <td><%= wine.nombre %></td>
                        <td class="hide-field"><%= wine.tipo %></td>
                        <td class="hide-field"><%= wine.variedad %></td>
                        <td class="hide-field"><%= wine.precio %></td>
                        <td class="hide-field"><%= wine.linkMP %></td>
                        <td>
                            <a class="hide-field btn btn-edit" href="/editar/<%= wine.id %>">Editar</a>
                            <a class="hide-field btn btn-delete" href="/eliminar/<%= wine.id %>">Eliminar</a>
                            <a href="" class="btn btn-edit hide show-btn" data-bs-toggle="modal" data-bs-target="#verProducto-<%= wine.id %>">Ver detalles</a>
                        </td>
                    </tr>
                </tbody>
                <div class="modal fade hide-field hide" id="verProducto-<%= wine.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><%= wine.nombre %></h5>
                                <button aria-hidden="true" data-dismiss="alert" data-bs-dismiss="modal" id="btnClose" class="close close-modal" type="button">&#10006;</button>
                            </div>
                            <div class="modal-body">
                                <ul class="list">
                                    <li class="list-item">
                                        <p class="card-text"><strong>Tipo de vino</strong></p>
                                        <p class="card-text"><%= wine.tipo %></p>
                                    </li>
                                    <li class="list-item">
                                        <p class="card-text"><strong>Variedad</strong></p>
                                        <p class="card-text"><%= wine.variedad %></p>
                                    </li>
                                    <li class="list-item">
                                        <p class="card-text"><strong>Precio</strong></p>
                                        <p class="card-text">$ <%= wine.precio %></p>
                                    </li>
                                    <li class="list-item">
                                        <p class="card-text"><strong>Link MP</strong></p>
                                        <p class="card-text">$ <%= wine.linkMP %></p>
                                    </li>
                                    <li class="list-item">
                                        <p class="card-text"><strong>Descripcion</strong></p>
                                        <p class="card-text"><%= wine.descripcion %></p>
                                    </li>
                                    <li class="list-item">
                                        <p class="card-text"><strong>Caracteristicas</strong></p>
                                        <p class="card-text"><%= wine.caracteristicas %></p>
                                    </li>
                                    <li class="list-item">
                                        <p class="card-text"><strong>Acciones</strong></p>
                                        <a class="btn btn-edit" href="/editar/<%= wine.id %>">Editar</a>
                                        <a class="btn btn-delete" href="/eliminar/<%= wine.id %>">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </table>
            <div class="add-product">
                <a class="btn btn-add" href="/agregar">Agregar producto</a>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/effects.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const btn = document.querySelector('#btnClose');
        btn.addEventListener('click', () => {
            messageAlert.style.display = 'none';
        });
    </script>
</body>
</html>