<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="shortcut icon" href="/images/wine-icon.png">
    <title>The wines club</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>
    <main class="principal" id="content">
        <div class="container">
            <div class="header-subtitle">
                <ul class="subtitle-list">
                    <li class="subtitle-item subtitle-item-admin"><h1 class="subtitle-item-link">Panel de administracion</h1></li>
                </ul>
            </div>
        </div><!-- Cierra el subtitle -->
        <% if(message) { %>
            <div class="form-group-6 m-auto alert alert-success" role="alert" id="messageAlert">
                <strong><%= message %></strong>
                <button aria-hidden="true" data-dismiss="alert" id="btnClose" class="close" type="button">&#10006;</button>
            </div>
        <% } %>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Variedad</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <% wines.forEach(wine => { %>
                <tbody>
                    <tr>
                        <td><%= wine.id %></td>
                        <td><%= wine.nombre %></td>
                        <td><%= wine.tipo %></td>
                        <td><%= wine.variedad %></td>
                        <td><%= wine.precio %></td>
                        <td>
                            <a class="btn btn-edit" href="/editar/<%= wine.id %>">Editar</a>
                            <a class="btn btn-delete" href="/eliminar/<%= wine.id %>">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
            <div class="add-product">
                <a class="btn btn-add" href="/agregar">Agregar producto</a>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/effects.js"></script>
    <script>
        const btn = document.querySelector('#btnClose');
        btn.addEventListener('click', () => {
            messageAlert.style.display = 'none';
        });
    </script>
</body>
</html>